/* 清除浮动(兼容) */
/* <br class="clear"> */
.clear {
  height: 0px;
  line-height: 0px;
  font-size: 0px;
  clear: both;
  overflow: hidden;
}

body {
  font-size: 12px;
  line-height: 1.25;
  font-family: Tahoma, sans-serif;
  background: #fff;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  zoom: 1;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

a:-webkit-any-link {
  color: #000;
  color: -webkit-link;
  cursor: pointer;
}

a:visited {
  color: #000;
}

a:active {
  color: #000;
}

a:hover,
a:focus {
  text-decoration: underline;
}

input {
  border: none;
}

.home_top {
  height: 3vw;
  position: relative;
}

.home_top>img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.home_top>span {
  position: absolute;
  left: 19.5%;
  z-index: 2;
  display: block;
  line-height: 3vw;
  height: 3vw;
  font-size: 0.07rem;
  font-weight: 600;
}

.home_tab {
  height: 4vw;
  position: relative;
  width: 100%;
}

.home_tab>.box {
  position: absolute;
  left: 19.5%;
  z-index: 2;
  width: 65%;
}

.home_tab>.box>div {
  float: left;
  height: 4vw;
  line-height: 4vw;
  width: 16%;
  text-align: center;
  font-size: 0.07rem;
  font-weight: 600;
}

.home_tab>img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.home_header {
  width: 100%;
  position: relative;
}

.home_header>img {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.home_header>a {
  width: 62.3%;
  position: absolute;
  z-index: 2;
  left: 19.5%;
  top: 2.4vw;
  height: 27vw;
}

.home_notification {
  width: 100%;
  height: 25vw;
  margin-top: 1vw;
  position: relative;
}

.home_notification>.box {
  width: 62.5%;
  position: absolute;
  left: 19.4%;
}

.home_notification>.box>.nav {
  width: 100%;
  position: relative;
}

.home_notification>.box>.nav>.canter {
  margin: 0 auto;
  border-bottom: 1px solid #efefef;
  width: 15%;
  position: relative;
  height: 2.7vw;
}

.home_notification>.box>.nav>.canter>div {
  position: absolute;
  text-align: center;
  color: #ed4370;
  font-size: 0.1rem;
  font-weight: 600;
  height: 2.7vw;
  line-height: 2.7vw;
}

.home_notification>.box>.nav>.canter>div:nth-child(1) {
  width: 100%;
}

.home_notification>.box>.nav>.canter>div:nth-child(2) {
  border-bottom: 2px solid #ed4370;
  color: rgba(0, 0, 0, 0);
  z-index: 2;
  left: 43%;
}

.home_notification>.box>.nav>.right {
  position: absolute;
  right: 0;
  top: 0vw;
  height: 2.7vw;
  line-height: 3.7vw;
  font-size: 0.07rem;
  color: #b6b6b6;
}

.home_notification>.box>.section {
  width: 100%;
  margin-top: 1.5vw;
}

.home_notification>.box>.section>.slideshow {
  width: 30%;
  height: 18vw;
  position: relative;
  float: left;
}

.home_notification>.box>.section>.slideshow>.day {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 3.5vw;
  height: 3.5vw;
  line-height: 1.5vw;
  background-color: #ed4370;
  text-align: center;
  color: #fff;
}

.home_notification>.box>.section>.slideshow>.day>div:nth-child(1) {
  font-size: 0.1rem;
}

.home_notification>.box>.section>.slideshow>.imgs {
  width: 100%;
  height: 75%;
  position: relative;
  z-index: 1;
}

.home_notification>.box>.section>.slideshow>.imgs>img {
  width: 100%;
  height: 100%;
}

.home_notification>.box>.section>.slideshow>.imgs>.ele {
  width: 100%;
  height: 1vw;
  padding-right: 1vw;
  position: absolute;
  bottom: 1vw;
  z-index: 3;
}

.home_notification>.box>.section>.slideshow>.imgs>.ele>div {
  float: right;
  width: 1vw;
  height: 1vw;
  background-color: #e49908;
  margin-left: 0.5vw;
}

.home_notification>.box>.section>.slideshow>.imgs>.ele>.active {
  background-color: #fff;
}

.home_notification>.box>.section>.slideshow>.test{
  font-size: 0.1rem;
  height: 4.6vw;
  line-height: 2vw;
  padding-left: 1vw;
  padding-right: 1vw;
  font-weight: 500;
  background-color: #f4f4f4;
}

.home_notification>.box>.section>.home_notification_list{
  width: 70%;
  height: 18vw;
  float: right;
}

.home_notification>.box>.section>.home_notification_list>.list{
  height: 33.3%;
}

.home_notification>.box>.section>.home_notification_list>.list>.left{
  width: 15%;
  height: 100%;
  float: left;
  text-align: center;
  color: #b0b0b0;
}

.home_notification>.box>.section>.home_notification_list>.list>.left>div:nth-child(1){
  font-size: 0.1rem;
}

.home_notification>.box>.section>.home_notification_list>.list>.content{
  width: 85%;
  height: 100%;
  border-bottom: 1px solid saddlebrown;
  float: right;
}

.home_news {
  height: 10vw;
  background-color: #fafafa;
}