/* 清除浮动(兼容) */
/* <br class="clear"> */
.clear {
    height: 0px;
    line-height: 0px;
    font-size: 0px;
    clear: both;
    overflow: hidden;
}

body {
    font-size: 12px;
    line-height: 1.25;
    font-family: Tahoma, sans-serif;
    background: #fff;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    zoom: 1;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #666;
    cursor: pointer;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

a:visited {
    color: #666;
}

a:hover,
a:active,
a:focus {
    text-decoration: underline;
}

input {
    border: none;
}

#list {}

#list>#header {
    width: 100%;
    height: 340px;
    background: url(../images/top_bg.jpg) center 0 no-repeat;
}

#list>#header>.main {
    width: 960px;
    margin: 0px auto;
    padding: 0px;
}

#list>#header>.main>.top {
    width: 960px;
    height: 36px;
    background: url(../images/head_top_bg.jpg);
}

#list>#header>.main>.top>.top-left {
    float: left;
    height: 17px;
    width: 136px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 12px;
    font-family: 宋体;
    color: rgb(114, 114, 114);
}

#list>#header>.main>.top>.top-left>a:hover {
    text-decoration: none;
}

#list>#header>.main>.top>.top-left>a:visited {
    color: #666;
}

#list>#header>.main>.top>.top-right {
    width: 450px;
    line-height: 22px;
    height: 22px;
    float: right;
    margin-top: 6px;
    text-align: center;
}

#list>#header>.main>.top>.top-right>.search {
    border: 1px solid #C09D64;
    width: 276px;
    height: 22px;
    float: left;
}

#list>#header>.main>.top>.top-right>.search input {
    width: 82%;
    height: 22px;
    float: left;
    padding-left: 5px;
    background: #FFFFFF;
    text-align: left;
}

#list>#header>.main>.top>.top-right>.search button {
    background: url(../images/btn_bg.jpg);
    color: #FFFFFF;
    float: right;
    width: 18%;
    height: 22px;
    border: 0;
    text-align: center;
}

#list>#header>.main>.top>.top-right>.GoLogInOrRegister {
    width: 110px;
    color: #9E7536;
    float: right;
    text-align: center;
    line-height: 24px;

}

#list>#header>.main>.top>.top-right>.GoLogInOrRegister>a {
    color: #9E7536;
    display: inline-block;
    height: 12px;
    line-height: 12px;
}

#list>#header>.main>.top>.top-right>.GoLogInOrRegister>a:nth-child(1) {
    border-right: 1px solid #9E7536;
    padding-right: 2px;
}

#list>#header>.main>.logo {
    margin-top: 32px;
    margin-left: 10px;
}

/*  */
#list>#menu {
    width: 100%;
    height: 43px;
    background: url(../images/top_menu_bg.jpg) repeat-x;
}

#list>#menu>.head_menu {
    width: 960px;
    height: 43px;
    line-height: 43px;
    margin: 0px auto;
    position: relative;
}

#list>#menu>.head_menu>.icon {
    position: absolute;
    left: -10px;
    top: -1px;
}

#list>#menu>.head_menu>.list {
    margin-left: 30px;
}

#list>#menu>.head_menu>.list>.first {
    width: 80px;
}

#list>#menu>.head_menu>.list>.last {
    width: 60px;
}

#list>#menu>.head_menu>.list>li {
    width: 96px;
    font-weight: bold;
    float: left;
}

#list>#menu>.head_menu>.list>li>.home_active {
    font-size: 14px;
}

#list>#menu>.head_menu>.list>li>a {
    font-size: 14px;
    color: #FFFFFF
}

#list>#content {
    width: 100%;
    height: auto;
    margin: 0px auto;
    padding: 0px;
    background: #EEEAE7 url(../images/content_bg.jpg) repeat-x;
}

#list>#content>.content_box {
    background: url(../images/content_center_bg.jpg) repeat-y;
    width: 960px;
    height: auto;
    margin: 0px auto;
    padding: 0px;
    padding-top: 20px;
}

#list>#content>.content_box>.content_icon {
    width: 924px;
    margin: 0 auto;
}

#list>#content>.content_box>.content_icon>img {
    width: 924px;
    height: 110px;
    position: relative;
}

/* .......................................................... */

#list>#content>.content_box>.crumbs {
    margin: 0 auto;
    padding: 0;
    height: 40px;
    text-align: left;
    width: 924px;
}

#list>#content>.content_box>.crumbs a {
    color: #666;
}


#list>#content>.content_box>.crumbs>.current_title {
    color: #EC711F;
}

#list>#content>.content_box>.list_content {
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
    width: 924px;
}

#list>#content>.content_box>.list_content>.list_left {
    width: 210px;
    float: left;
}

.list_content .list_left .left_exam_registration .exam_title {
    height: 40px;
    line-height: 38px;
    text-align: left;
}

.list_content .list_left .left_exam_registration .exam_title img {
    height: 33px;
    width: 210px;
}

.list_content .list_left .left_exam_registration .exam_title_list {
    margin-top: 10px;
    line-height: 23px;
    text-align: left;
}

.list_content .list_left .left_exam_registration li {
    width: 180px;
}

.list_content .list_left .left_exam_registration .point {
    width: 15px;
    float: left;
    margin-bottom: 0px;
}

#list>#content>.content_box>.list_content .list_left .left_exam_registration .article {
    width: 160px;
    float: left;
    margin-bottom: 0px;
}

#list>#content>.content_box>.list_content .list_left .left_exam_registration .article a {
    color: #666;
}

.list_content .list_left .query_results {
    margin: 0 auto;
    padding: 0;
    margin-top: 40px;
}

.list_content .list_left .query_results .query_results_search {
    line-height: 30px;
    margin-top: 10px;
}

.list_content .list_left .query_results p {
    height: 40px;
    line-height: 38px;
    text-align: left;
}

.list_content .list_left .query_results p {
    height: 40px;
    line-height: 38px;
    text-align: left;
}

.list_content .list_left .query_results .input_number input {
    width: 150px;
    height: 24px;
    border: 1px solid #DBDBDB;
    margin-left: 5px;
}

.list_content .list_left .query_results .button button {
    margin-left: 5px;
    height: 24px;
    line-height: 22px;
    width: 42px;
}

.list_content .list_left .exam_registration_second {
    margin-top: 40px;
}

.list_content .list_left .left_download {
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
    width: 200px;
    height: 135px;
    text-align: left;
}

.list_content .list_left .left_download img {
    width: 112px;
    height: 127px;
}

.list_content .list_left .left_ad1 {
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
    width: 200px;
    height: 100px;
    text-align: left;
}

.list_content .list_left .left_ad1 img {
    width: 200px;
    height: 100px;
}

.list_content .list_left .left_ad2 {
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
    width: 200px;
    height: 75px;
    text-align: left;
}

.list_content .list_left .left_ad2 img {
    width: 200px;
    height: 75px;
}

.list_content .list_left .left_ad3 {
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
    width: 200px;
    height: 75px;
    text-align: left;
}

.list_content .list_left .left_ad3 img {
    width: 200px;
    height: 75px;
}





/* 底部 */
#list>#content>.content_box>.content_foot {
    margin: 0 auto;
    padding: 0;
    width: 960px;
}

#list>#content>.content_box>#box_footer {
    margin: 0 auto;
    padding: 20px 10px;
    width: 960px;
    background: #EEEAE7;
    line-height: 26px;
    text-align: center;
}

#list>#content>.content_box>#box_footer .foot_down {
    font-family: "宋体";
    color: #A6A6A6;
    margin-top: 10px;
}

#list>#content>.content_box>#box_footer .foot_down a {
    color: #666;
}